@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.75rem;
}

details {
  color: hsl(240, 6%, 50%);
  transition: 0.3s;
}

details summary {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: hsl(237, 12%, 33%);
  transition: 0.3s;
}

details summary:hover {
  color: hsl(14, 88%, 65%);
}

summary:before {
  content: url('icon-arrow-down.svg');
  position: absolute;
  vertical-align: middle;
  transition: 0.3s;
  display: inline-block;
  right: 0;
}

details:after {
  content: '';
  display: block;
  border-top: 0.01rem solid hsla(240, 6%, 50%, 0.425);
  margin: 0.75rem 0;
}

details[open] summary {
  margin-bottom: 0.3rem;
  font-weight: 700;
  transition: 0.3s;
}

details[open] summary:hover {
  color: hsla(240, 6%, 50%, 0.425);
}

details[open] summary:before {
  transform: rotate(180deg);
}

.attribution {
  position: fixed;
  width: 100vw;
  font-size: 0.75rem;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: white;
  background: #000;
}
.attribution a {
  color: hsl(288, 89%, 65%);
}

.attribution a:hover {
  color: hsl(287, 70%, 91%);
}
